body {
  font-size: 62.5%;
}

ul {
  position: relative;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 100px;
  align-items: center;
  justify-content: center;
}

li {
  font-size: 50px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  padding: 20px;
  padding-top: 25px;
  background-color: #f7f7f7;
  border: solid grey 2px;
  border-radius: 15px;
}

span {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 550px;
  width: 400px;
}

li:first-child span {
  background-image: url("images/0-sprite.png");
  background-position: left;
  background-size: cover;
}

li:nth-child(2) span {
  background-image: url("images/0-sprite.png");
  background-position: center;
  background-size: cover;
}

li:nth-child(3) span {
  background-image: url("images/0-sprite.png");
  background-position: right;
  background-size: cover;
}
